body {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(83, 178, 187);
    justify-content: center;
    font-size: 34px;
    height: 10rem;
    align-items: center;
    color: #fff;
    border: 7px solid rgb(180, 180, 180);
}

main {
    display: flex;
    height: 600px;
}

aside {
    width: 8%;
    border: 7px solid rgb(180, 180, 180);
    background-color: rgb(62, 164, 84);
}

article {
    background-color: rgb(236, 164, 86);
    padding: 20px;
    width: 92%;
    border: 7px solid rgb(180, 180, 180);
}

img {
    border: 10px solid rgb(188, 50, 177);
}

main footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: none;
}

footer {
    border: 7px solid rgb(180, 180, 180);
}

h4 {
    padding-top: 7px;
    display: flex;
    background-color: rgb(83, 178, 187);
    margin: 0;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

footer nav {
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-around;
    background-color: rgb(83, 178, 187);
}

nav li {
    color: rgb(26, 58, 118);
    cursor: pointer;
}