body {
    margin: 0;
    counter-reset: num 0;
    counter-reset: num_b 7;
    
}

.container {
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

section{
    width: 400px;
    counter-increment: num 1;
    display: flex;
    justify-content:space-between;
    margin: 10px 0 0 0;
    align-items: center;
}

.bottom::before {
    
    content: counter(num_b)".";
}
/*
section::before {
    
    content: counter(num)".";
}*/

section:last-of-type {
    display: flex;
    justify-content: space-between;
}

section label {
    margin-right: 5px;
}

button {
    display: inline-block;
    margin: 10px 0 0 0;
}

.bottom {
    counter-increment: num_b 1;
}

.bottoms {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
section:last-of-type label {
    margin: 0 70px 0 0;
}*/

input[type=text],input[type=password] {
    width: 260px;
}