@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    
}

form {
    font-size: 20px;
    color: rgb(62, 73, 127);
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
}


.container {
    width: 600px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    height: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.email input {
    width: 100%;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(25, 194, 228);
    padding: 10px 45px;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border: none;
}

h1,h2 {
    color: rgb(95, 114, 130);
}